.container {
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
  text-decoration: underline;
}

.container:hover {
  cursor: pointer;
}

.image {
  border: 2px solid black;
  border-radius: 20%;
  box-shadow: 2px 2px 2px rgb(94, 94, 94);
}