.container {
  align-content: center;
  align-items: center;
  background:   #36D1DC;
  background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
  background: linear-gradient(to right, #5B86E5, #36D1DC);
  display: flex;
  justify-content: center;
}

.card {
  align-items: center;
  background-color: rgb(31, 127, 216);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 2px 2px 2px   rgb(92, 92, 92);
  color:rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  font-family: cursive;
  font-size: 14px;
  justify-content: center;
  margin: 90px;
  padding: 20px;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.info {
  background-color: rgba(52, 174, 196, 0.733);  border: 2px solid rgb(255, 255, 255);
  box-shadow: 2px 2px 2px   rgb(0, 0, 0);
  margin: 5px;
  padding: 7px;
}

.img {
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 2px   rgb(0, 0, 0);
  margin-bottom: 10px;
}

.btn {
  background-color: rgb(12, 207, 241);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50%;
  box-shadow: 2px 2px 2px   rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  font-size: 40px;
  position: relative;
  right: 130px;
  top: -10px;
}

.btn:hover {
  cursor: pointer;
}